# Flask (if using Flask as the backend framework)
Flask==2.2.3
requests

# Jinja2 (used for templating in Flask or Django)
Jinja2==3.1.2

# Werkzeug (used by Flask for WSGI)
Werkzeug==2.2.3

# Environment management
python-dotenv==1.0.0

# Stockfish engine
stockfish==3.27.0